In [17]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.1.1)

In [18]:
!pip show pymysql

Name: PyMySQL
Version: 1.1.1
Summary: Pure Python MySQL Driver
Home-page:
Author:
Author-email: Inada Naoki <songofacandy@gmail.com>, Yutaka Matsubara <yutaka.matsubara@gmail.com>
License: MIT License
Location: C:\Users\user\anaconda3\Lib\site-packages
Requires:
Required-by:

In [31]:
sql = """
CREATE TABLE IF NOT EXISTS product (
    id INT UNSIGNED NOT NULL AUTO_INCREMENT,
    name VARCHAR(20) NOT NULL,
    model_num VARCHAR(10) NOT NULL,
    model_type VARCHAR(10) NOT NULL,
    PRIMARY KEY(id)
)
"""
print(sql)

CREATE TABLE IF NOT EXISTS product (
    id INT UNSIGNED NOT NULL AUTO_INCREMENT,
    name VARCHAR(20) NOT NULL,
    model_num VARCHAR(10) NOT NULL,
    model_type VARCHAR(10) NOT NULL,
    PRIMARY KEY(id)
)

In [20]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')
print(type(db))
print(db)

<class 'pymysql.connections.Connection'>
<pymysql.connections.Connection object at 0x0000023F08AEEC60>

In [33]:
try:
    db.ping(reconnect=True)  # ìë™ìœ¼ë¡œ ì¬ì—°ê²° ì‹œë„
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
except Exception as e:
    print("ğŸ’¥ DB ì¬ì—°ê²° ì‹¤íŒ¨:", e)

In [34]:
# cursor ê°ì²´ì²´
cursor = db.cursor()
# sqlë¬¸ ì‹¤í–‰í–‰
cursor.execute(sql)
# DBì— ë°˜ì˜ì‹œì¼œë¼
db.commit()

In [23]:
cursor.execute('show tables')
cursor.execute('drop table product')

0

In [24]:
# connection ì¢…ë£Œë£Œ
db.close()

In [25]:
import pymysql

#dbì™€ ì—°ê²°
db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')

try:
    #cursor ìƒì„±í•˜ê³  cursorê°€ openë˜ì–´ ìˆëŠ” queryë¬¸ì„ ì—¬ëŸ¬ê°œ ì‹¤í–‰
    with db.cursor() as cursor:
        #table dropí•˜ëŠ” query ì‹¤í–‰
        #cursor.execute('drop table product')
        #product table ìƒì„± queryì‹¤í–‰
        cursor.execute(sql)
        #dbì— ì‹¤ì œë¡œ ì ìš©í•œë‹¤
        db.commit()
        
        for num in range(10,20): #10~19
            name = 'S20'+str(num)
            ins_sql = \
            'insert into product (name,model_num,model_type) values (%s, %s, %s)'
            cursor.execute(ins_sql,(name,'7700','Phone'))
            print(ins_sql)
#             ins_sql = "insert into product (name,model_num,model_type) \
#             values('"+name+"','7700','Phone')"
#             cursor.execute(ins_sql)
        # DBì— ë°˜ì˜ì˜    
        db.commit()
        print(cursor.lastrowid)
except Exception as exp:
    print(exp)
    # DBì— ë°˜ì˜í•˜ì§€ ë§ê³  ì·¨ì†Œì²˜ë¦¬í•´ë¼ë¼
    db.rollback()
finally:
    db.close()

insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
10

In [26]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')

try:
    #select, update
    with db.cursor() as cursor:
        cursor.execute('select * from product where id=3')
        # ì¿¼ë¦¬í•œ row í•œ ê°œì˜ ë°ì´í„°ë¥¼ result ë³€ìˆ˜ì— ì €ì¥ì¥
        result = cursor.fetchone()
        print(type(result),result, result[1])
        
        upd_sql = \
        "update product set model_type='%s' \
        where name between 'S2010' and 'S2015'" % 'í•¸ë“œí°'
        cursor.execute(upd_sql)
        db.commit()
        #ê°±ì‹ ëœ row ê°¯ìˆ˜
        print(cursor.rowcount)
        
        cursor.execute('select * from product')
        result_list = cursor.fetchall()
        print(type(result_list))
        for row in result_list:
            print(row[0],row[1],row[2],row[3])
            
        # model_typeë³„ë¡œ group by í•˜ëŠ” ì¿¼ë¦¬ ì‹¤í–‰ 
        cursor.execute('select model_type,count(*) from product group by model_type')
        for row in cursor.fetchall():
            print(row)
finally:
    db.close()

<class 'tuple'> (3, 'S2012', '7700', 'Phone') S2012
6
<class 'tuple'>
1 S2010 7700 í•¸ë“œí°
2 S2011 7700 í•¸ë“œí°
3 S2012 7700 í•¸ë“œí°
4 S2013 7700 í•¸ë“œí°
5 S2014 7700 í•¸ë“œí°
6 S2015 7700 í•¸ë“œí°
7 S2016 7700 Phone
8 S2017 7700 Phone
9 S2018 7700 Phone
10 S2019 7700 Phone
('Phone', 4)
('í•¸ë“œí°', 6)

In [27]:
# delete í•˜ê³  select all
#name ì»¬ëŸ¼ì˜ ê°’ì´ 's2014' ì™€ 's2015' ì¸ í–‰ì„ ì‚­ì œí•˜ì„¸ìš” sqlì˜ in êµ¬ë¬¸ì„ ì‚¬ìš©í•˜ì„¸ìš”

con = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')

#print(type(con), con)

try:
    with con.cursor() as cursor:
        sql = "delete from product where name in (%s,%s)"
        cursor.execute(sql,('S2012','S2013'))
        con.commit()
        # ì‚­ì œëœ ê±´ìˆ˜ ì¶œë ¥
        print(cursor.rowcount)
                
        sql = "select * from product order by id"
        cursor.execute(sql)
        for row in cursor.fetchall():
            print(row[0],row[1],row[2],row[3])
            
except Exception as ex:
    con.rollback()
    print(ex)
finally:
    con.close()

2
1 S2010 7700 í•¸ë“œí°
2 S2011 7700 í•¸ë“œí°
5 S2014 7700 í•¸ë“œí°
6 S2015 7700 í•¸ë“œí°
7 S2016 7700 Phone
8 S2017 7700 Phone
9 S2018 7700 Phone
10 S2019 7700 Phone